*{
    margin: 10px;;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image:
        linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)),
        url(/img/Menu\ la\ parrilla\ css.png);

    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    border-image-slice: 0px;
    border-right-width: 1px;
    border-left-width: 1px;
     border-left-width: 50px;  /* Borde izquierdo más grueso */
  border-right-width: 0px;  /* Borde derecho más delgado */
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50px;

}   
.h1{
    color: chocolate;
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 70px;
}

.ternera{
    color: orange;
    display: flex;
    justify-content: center;
    position: relative;
  
}

.cerdo{
    color: orange;
     display: flex;
    justify-content: center;
    position: relative;
 
}    

.vegetales{
    color: orange;
    display: flex;
    justify-content: center;
    position: relative;
  
}

.mixtas{
    color: orange;
    display: flex;
    justify-content: center;
    position: relative;
 
}

.li{
    color: white;
     display: flex;
    justify-content: center;
    position: relative;
    font-size: 18px;
}

.img{
    width:95%;
    padding: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%)
 
}

.img img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:20px;
  display: block;
  margin: 0 auto;
}   

.img{
    opacity: 0.5; /* 50% de opacidad */
}
